<div class="container">
  <div class="row">
    <h2>Devices</h2>
    <table id="deviceListTable" class="table table-striped" style="min-height:400px">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">type</th>
          <th scope="col">ip</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  const eventSource = new EventSource('<%= root %>/api/serverevents');
  eventSource.addEventListener('systemUpdated', (event) => {
    updateSystem();
  });


  $(function() {
    $("#rootmenu-devices").addClass("active");

    function updateSystem()
    {
      $.ajax({
          type: "GET",
          url: "<%= root %>/api/status",
          dataType : "json"
        }).done((data)=>{

          $("#mqtt-state").val(data.mqttState);
          $("#footer-version").text(data.systemVersion)

          for(const device of data.devices)
          {
            if($(`#device-${device.id}`).length === 0)
            {
              $("#deviceListTable tbody").append(`<tr id="device-${device.id}"><th><a href="devices/${device.name}">${device.name}</a></th><td>${device.deviceType}</td><td>${device.ip}</td></tr>`);
            }
          }
      });
    }
    updateSystem();

  });
  
</script>