<div class="container">
    <div class="row">
      <h2>Logs</h2>
      <table id="logsTable" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col" style="width:12em">Date & Time</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <a href="/downloadlogs/zip">Download Logs and internal statues for debug.</a>
    </div>
  </div>
  <script type="text/javascript">


    $(function() {
      const eventSource = new EventSource('/api/serverevents');
      eventSource.addEventListener('systemUpdated', (event) => {
        console.log("SSE:systemUpdated");
        updateSystem();
      });

      eventSource.addEventListener('logUpdated', (event) => {
        console.log("SSE:logUpdated");
        updateLogs();
      });

      $("#rootmenu-logs").addClass("active");

      function updateSystem()
      {
        $.ajax({
            type: "GET",
            url: "/api/status",
            dataType : "json"
          }).done((data)=>{
            $("#footer-version").text(data.systemVersion)
            $("#mqtt-state").val(data.mqttState);
            if(data.elwaState === "NotConfigure")
            {
              $("#elwa-section").hide();
            }
            else
            {
              $("#elwa-section").show();
              $("#elwa-section").addClass("d-flex");
              $("#elwa-state").val(data.elwaState);
            }
        });
      }
      updateSystem();

      function updateLogs()
      {
        $.ajax({
            type: "GET",
            url: "/api/logs",
            dataType : "json"
          }).done((data)=>{
            $("#logsTable tbody").children().remove();

            data.reverse();
            for(let log of data)
            {
              $("#logsTable tbody").append(`<tr id="log-${log.id}"><th>${log.id}</th><td>${utcTextToLocalText(log.datetime)}</td><td>${log.message}</td></tr>`);
            }
        });
      }
      updateLogs();
  
    });
    
  </script>